@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            @ViewBag.saleString
        </p>
        <br /><br />
        @Html.ActionLink("Tilbage til forsiden", "Index", "Home")
    </div>
</body>
</html>
