
<div class="WelcomePage">
    <h1>Welcome to Hypers</h1>
    <p class="lead">Hypers er en webshop der sælger testede brugte vare. </p>
    <p><a href="http://localhost:62239/home/about" class="btn btn-primary btn-lg">For mere info om os &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Som kunde hos Hypers</h2>
        <p>
            Der er mange fordele ved at være registreret bruger af Hypers. Ud over at vise, hvor moderne du er ved at genbruge, så kan du også modtage vores super nyhedsbrev.
        </p>
        <p><a class="btn btn-default" href="http://localhost:62239/Account/Register">Bliv medlem &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hvorfor genbrug?</h2>
        <p>Jorden har ikke uendelige resourcer, så et er vigtigt at vi genbruger så mange af disse resourcer som muligt.</p>
        <p><a class="btn btn-default" href="https://www.businessinsider.com/hsbc-warns-earth-is-running-out-of-resources-for-life-2018-8?r=US&IR=T">Lær mere &raquo;</a></p>
    </div>
</div>